<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.RecustomerTableMapper">
  <resultMap id="recustomerTable" type="com.company.project.model.RecustomerTable">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reback_time" jdbcType="TIMESTAMP" property="rebackTime" />
    <result column="electric_id" jdbcType="VARCHAR" property="electricId" />
    <result column="connect_ip" jdbcType="VARCHAR" property="connectIp" />
    <result column="ip_num" jdbcType="INTEGER" property="ipNum" />
    <result column="insert_speed" jdbcType="INTEGER" property="insertSpeed" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="produce_number" jdbcType="VARCHAR" property="produceNumber" />
    <result column="network_name" jdbcType="VARCHAR" property="networkName" />
    <result column="network_name_other" jdbcType="VARCHAR" property="networkNameOther" />
    <result column="network_ip" jdbcType="VARCHAR" property="networkIp" />
    <result column="network_port" jdbcType="VARCHAR" property="networkPort" />
    <result column="insert_name" jdbcType="VARCHAR" property="insertName" />
    <result column="insert_ip" jdbcType="VARCHAR" property="insertIp" />
    <result column="insert_name_other" jdbcType="VARCHAR" property="insertNameOther" />
    <result column="insert_port" jdbcType="VARCHAR" property="insertPort" />
    <result column="vlan_id" jdbcType="VARCHAR" property="vlanId" />
    <result column="link_people" jdbcType="VARCHAR" property="linkPeople" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
    <result column="customer_address" jdbcType="VARCHAR" property="customerAddress" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="up_date" jdbcType="TIMESTAMP" property="upDate" />
    <result column="same_band" jdbcType="VARCHAR" property="sameBand" />
    <result column="is_80" jdbcType="VARCHAR" property="is80" />
    <result column="reback_wf_id" jdbcType="LONGVARCHAR" property="rebackWfId" />
    <result column="wf_id" jdbcType="LONGVARCHAR" property="wfId" />
    <result column="user_ip" jdbcType="LONGVARCHAR" property="userIp" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <select id="selectUsers" resultMap="recustomerTable">
        select * from recustomer_table
   </select>
  <insert id="insertByRebackUser">
        INSERT INTO  recustomer_table (reback_time,reback_wf_id,customer,business_type,produce_number,network_name,network_name_other,network_ip,
                                     network_port,insert_name,insert_name_other,insert_ip,insert_port,vlan_id,wf_id,electric_id,
                                     connect_ip,user_ip,ip_num,insert_speed,link_people,link_phone,customer_address,
                                     open_date,up_date,same_band,remark,is_80)
                         VALUES (#{rebackTime},#{rebackWfId},#{customer},#{businessType},#{produceNumber},#{networkName},#{networkNameOther},#{networkIp},
                                 #{networkPort},#{insertName},#{insertNameOther},#{insertIp},#{insertPort},#{vlanId},#{wfId},#{electricId},
                                 #{connectIp},#{userIp},#{ipNum},#{insertSpeed},#{linkPeople},#{linkPhone},#{customerAddress},
                                 #{openDate},#{upDate},#{sameBand},#{remark},#{is80})
  </insert>
</mapper>